@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --button-s: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --frame-drop-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.31);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-[#4A5D4A];
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}